*{
    padding: 0;
    margin: 0;
}
body{
    background-color: palevioletred;
}
.logoBean{
    position: fixed;
    border-radius: 50%;
    width: 13vw;
    top: 5vh;
    left:42.5vw;
    border:8px solid white;
}
#content{
    width: 60vw;
    height: 60vh;
    border-radius: 25px;
    background-color: white;
    margin-top: 15vh;
    margin-left: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20vh;
}
.bean{
    font-size: 2vw;
    color: rgb(226, 55, 223);
    margin-bottom: 10vh;
}
.lst{
    display: flex;
    justify-content: space-around;
    /* background-color: aqua; */
    width: 80%;

    span{
        /* background-color: brown; */
        text-align: center;
        font-size: 1.3vw;
        color: grey;
    }
    margin-bottom: 10vh;
}
.logolist{
    display: flex;
    width: 50%;
    gap:3vw;
    img{
        width:40px;
    }
    margin-bottom: 5vh;
}
button{
    padding-top:12px;
    padding-bottom: 12px;
    width:9vw;
    border-radius:25px;
    border: none;
    font-weight: 800;
    margin-right:2vw;
    font-size: 1vw;
    color:white;
}
.one{
background-color: rgb(181, 121, 238);
}
.two{
    background-color: rgb(234, 137, 153);
}